<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <!-- <img src="./assets/brand/tabler.svg" class="h-6" alt=""> -->
                    </div>
                    <form class="card" name="usuarioForm" method="post">
                        <div class="card-body p-6">
                            <div class="card-title" ng-if="usuario.id === 0">Criar novo usuario</div>
                            <div class="card-title" ng-if="usuario.id > 0">Editar usuario</div>
                            <div class="form-group">
                                <label class="form-label">Nome</label>
                                <input ng-model="usuario.nome" type="text" class="form-control" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input ng-model="usuario.email" type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Senha</label>
                                <input ng-model="usuario.senha" type="password" class="form-control" placeholder="Senha">
                            </div>
                            <div class="form-footer">
                                <button ng-disabled="!usuario.nome || !usuario.email || !usuario.senha" 
                                        ng-click="cadastrarUsuario(usuario)"
                                        type="submit"
                                        class="btn btn-primary btn-block">Salvar</button>
                            </div>
                        </div>
                    </form>
                    <div ng-if="usuario.id === 0" class="text-center text-muted">
                        Já possui uma conta?
                        <a href="/#!/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>