<div class="my-3 my-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <form class="card">
                        <div class="card-body">
                            <h3 class="card-title">Alterar Perfil</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"
                                         ng-class="{'has-error' : perfil.numeroDocumento.$dirty &&
                                         perfil.numeroDocumento.$invalid}">                                         
                                        <label class="form-label">Numero Documento:</label>
                                        <!-- <input ng-disabled="perfil.id > 0" ng-model="perfil.numeroDocumento" ui-br-cpf-mask type="text" class="form-control"> -->
                                        <input ng-disabled="perfil.id > 0"
                                                ng-model="perfil.numeroDocumento"
                                                ui-mask="999.999.999-99"
                                                type="text" 
                                                class="form-control" 
                                                id="numeroDocumento"
                                                name="numeroDocumento"
                                                placeholder="___.___.___-__">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Cidade</label>
                                        <ui-select ng-model="perfil.cidade" theme="selectize">
                                            <ui-select-match placeholder="Selecione">{{$select.selected.descricao}}</ui-select-match>
                                            <ui-select-choices repeat="c in cidades | filter: $select.search | orderBy:'descricao'">
                                                <span ng-bind-html="c.descricao | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <!-- <select ng-model="perfil.cidade"
                                                ng-options="cidade.descricao for cidade in cidades | orderBy:'descricao' track by cidade.id" class="form-control custom-select">
                                        </select> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error' : perfil.telefone.$dirty &&
                                                                         perfil.telefone.$invalid}">
                                        <label class="form-label">Telefone:</label>
                                        <!-- <input ng-disabled="perfil.id > 0" ng-model="perfil.numeroDocumento" ui-br-cpf-mask type="text" class="form-control"> -->
                                        <input ng-model="perfil.telefone" ui-mask="(99)99999-9999" type="text"
                                            class="form-control" id="telefone" name="telefone" >
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Sobre</label>
                                        <textarea ng-model="perfil.sobre" class="form-control" placeholder="Fale sobre você" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Experiência Profissional:</label>
                                        <textarea ng-model="perfil.experienciaProfissional" class="form-control" placeholder="Cite algum trabalho realizado" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary" ng-click="submitPerfil(perfil)" ng-disabled="!perfil.cidade">Alterar
                                Perfil
                            </button>
                        </div>
                    </form>
                </div>

                <div class="card" ng-if="perfil.id > 0">
                    <form class="card">
                        <div class="card-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Habilidade:</label>
                                    <ui-select ng-model="habilidade.selected" theme="selectize">
                                        <ui-select-match placeholder="Selecione">{{$select.selected.descricao}}</ui-select-match>
                                        <ui-select-choices repeat="h in habilidades | filter: $select.search | orderBy:'descricao'">
                                            <span ng-bind-html="h.descricao | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <button ng-click="adicionarHabilidade(habilidade)" class="btn btn-primary">Adicionar
                                        Habilidade
                                    </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                            <thead>
                                                <tr>
                                                    <th>Habilidades</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="ph in perfil.perfilHabilidades">
                                                    <td>
                                                        {{ph.habilidade.descricao}}
                                                        <a ng-click="removerHabilidade(ph)" class="icon">
                                                            <i class="fe fe-x"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button ng-click="submitPerfilHabilidade()" ng-disabled="perfil.perfilHabilidades.length === 0" class="btn btn-primary">Salvar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>