<div class="container">
    <div class="page-header">
        <h1 class="page-title">
            Listagem de prestadores de serviços
        </h1>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-lg-3" ng-if="recomendacoes.length">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recomendações</h4>
                </div>
                <table class="table card-table">
                    <tbody>
                        <tr ng-repeat="habilidade in recomendacoes" ng-click="filtrarPerfisHabilidade(habilidade)">
                            <td>
                                <i class="fe fe-shuffle"></i>
                                <a href="">{{habilidade.descricao}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="form-group">
                <ui-select ng-model="filtroHabilidade.selected" theme="selectize"
                    reset-search-input="true" 
                    on-select="filtrarPalavras($select)">
                    <ui-select-match placeholder="Informe a habilidade que você precisa">
                        <span>{{$select.selected.descricao || $select.search}}</span>
                        <a class="clear" ng-click="clear($event)">
                            <i class="fe fe-x"></i>
                        </a>
                    </ui-select-match>
                    <ui-select-choices repeat="h in (habilidades | orderBy: 'descricao' | filter: { descricao: $select.search}) track by h.id"
                                    refresh="refreshResults($select)" refresh-delay="0">
                        <span ng-bind-html="h.descricao || $select.search | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="" ng-repeat="perf in perfis">
                <div class="card" ng-if="perf.usuario.id != usuarioStorage.id">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-12">

                                <h4 class="d-flex align-items-center" ng-click="redirectToPerfil(perf.usuario.id)">
                                    <img class="avatar avatar-xxl mr-5" src={{fotos[2].url}}
                                        style="width: 3rem; height: 3rem;">
                                    <div>
                                        <div>{{perf.usuario.nome}}</div>
                                        <small class="d-block text-muted">{{perf.cidade.descricao}}</small>
                                    </div>
                                </h4>
                                <div class="user-description">
                                    <div class="text-muted">
                                        <p> {{perf.sobre}} </p>
                                        <p> {{perf.experienciaProfissional}} </p>
                                    </div>
                                    <div class="text-muted">
                                        Email: {{perf.usuario.email}}
                                    </div>
                                    <div class="text-muted" name="phone">
                                        Telefone: {{perf.telefone}}
                                    </div>
                                    <div class="selectgroup selectgroup-pills user-tags">
                                        <label class="selectgroup-item" ng-repeat="ph in perf.perfilHabilidades">
                                            <span class="selectgroup-button">{{ph.habilidade.descricao}}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <a href="javascript://" ng-click="redirectToPerfil(perf.usuario.id)"
                                        class="btn btn-lg btn-block btn-primary">
                                        Ver Perfil
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>