<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{perfil.usuario.nome}}</h4>
                    </div>
                    <div class="card-body">
                        <!-- <div class="form-group">
                            <div class="media">
                                <span class="avatar avatar-xxl mr-5" style="background-image: url(http://cinemaemcena.cartacapital.com.br/uploads/arquivos/636035889136819271.jpg)"></span>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <h4>Email</h4>
                            <p>{{perfil.usuario.email}}</p>
                        </div>

                        <div class="form-group">
                            <h4>Telefone</h4>
                            <p>{{perfil.telefone}}</p>
                        </div>

                        <div ng-hide="perfil.numeroDocumento" class="form-group">
                            <h4>Numero Documento</h4>
                            <p>{{perfil.numeroDocumento}}</p>
                        </div>

                        <div class="form-group">
                            <h4>Sobre</h4>
                            <p>{{perfil.sobre}}</p>
                        </div>
                        <div class="form-group">
                            <h4>Experiência Profissional</h4>
                            <p>{{perfil.experienciaProfissional}}</p>
                        </div>
                        <div class="form-group">
                            <h4>Cidade</h4>
                            <p>{{perfil.cidade.descricao}}</p>
                        </div>
                        <!-- <div class="form-footer">
                                <button class="btn btn-primary btn-block">Save</button>
                                <button class="btn btn-primary btn-block">Save</button>
                            </div> -->
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                            <thead>
                                <tr>
                                    <th>
                                        Habilidades
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ph in perfil.perfilHabilidades">
                                    <td>
                                        <div>{{ph.habilidade.descricao}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="input-group">
                            <input ng-model="perfil.post.mensagem.descricao" ng-disabled="isTheSameUser" type="text"
                                class="form-control" placeholder="Menssagem">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" ng-click="incluirPost(perfil)"
                                    ng-disabled="isTheSameUser">
                                    <i class="fe fe-check"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group card-list-group">
                        <li class="list-group-item py-5" ng-repeat="post in posts | orderBy:'-mensagem.dataPostagem'">
                            <div class="media">
                                <div class="media-body">
                                    <div class="media-heading">
                                        <small class="float-right text-muted">{{post.mensagem.dataPostagem | date :
                                            "dd/MM/yyyy h:mma"}}</small>
                                        <h5><a href="" ng-click="redirectToPerfil(post.mensagem.userSend.id)">{{post.mensagem.userSend.nome}}</a></h5>
                                    </div>
                                    <div>
                                        {{post.mensagem.descricao}}
                                    </div>
                                    <!-- <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                    </div> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>