<div id=serviceCommerceHeader>
    <div class="header py-4">
        <div class="container">
            <div class="d-flex">
                <a class="header-brand" href="/#!/home">
                    <img src="./img/logoEserviceBola.png" class="" style="width: 35%;" alt="Logo">
                </a>
                <div class="d-flex order-lg-2 ml-auto">
                    <div class="dropdown d-none d-md-flex">
                        <a class="nav-link icon" href="/#!/listagem">
                            <i class="fe fe-users"></i>
                            <span>Prestadores</span>
                        </a>
                    </div>
                    <div class="dropdown d-md-flex" ng-if="!existeUsuarioLogado">
                        <a href="/#!/login" class="nav-link pr-0 leading-none" aria-expanded="false">
                            <span class="btn text-default">Login</span>
                        </a>
                    </div>
                    <div class="dropdown d-md-flex" ng-if="!existeUsuarioLogado" class="underline">
                        <a href="/#!/usuario/cadastro" class="nav-link pr-0 leading-none" aria-expanded="false">
                            <span class="btn text-default">Registre-se</span>
                        </a>
                    </div>

                    <div class="dropdown d-md-flex" ng-if="existeUsuarioLogado">
                        <a href="" class="nav-link pr-0 leading-none" data-toggle="dropdown" aria-expanded="false">
                            <span class="avatar" style="background-image: url(./img/user.png)"></span>
                            <span class="ml-2 d-none d-lg-block">
                                <span class="text-default">{{nome}}</span>
                                <small class="text-muted d-block mt-1">{{email}}</small>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end"
                            style="position: absolute; transform: translate3d(-56px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="" ng-click="editUsuario(id)">
                                <i class="dropdown-icon fe fe-user"></i> Editar Usuario
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" ng-click="viewPerfil(id)">
                                <i class="dropdown-icon fe fe-user"></i> Perfil
                            </a>
                            <a class="dropdown-item" href="" ng-click="editPerfil(id)">
                                <i class="dropdown-icon fe fe-settings"></i> Editar Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#!/usuario/historico">
                                <i class="dropdown-icon fe fe-book-open"></i> Histórico de Negociações
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/#!/logout">
                                <i class="dropdown-icon fe fe-log-out"></i> Sair
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>