<figure class="home-banner">
  <img src="./img/banner.jpg" alt="Service Commerce" />
</figure>

<div class="container">
	<div class="row row-cards row-deck">
		<div class="col-md-6">
			<div class="card">
				<div class="card-status bg-purple"></div>
				<div class="card-header">
					<h3 class="card-title">
						<i class="fe fe-users" data-toggle="tooltip" title="fe fe-users"></i>
						Serviços
					</h3>
				</div>
				<div class="card-body">
					<figure class="mb-3">	
						<img src="./img/servicos.jpg" class="rounded" alt="">
					</figure>
					<p>
							Procurando algum prestador de serviço? Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Aperiam error nulla temporibus!
					</p>
					<hr>
					<a href="/#!/listagem" class="btn btn-lg btn-block btn-primary">Encontrar</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-status bg-purple"></div>
				<div class="card-header">
					<h3 class="card-title">
						<i class="fe fe-user-plus" data-toggle="tooltip" title="fe fe-user-plus"></i>
						Cadastro
					</h3>
				</div>
				<div class="card-body">
					<figure class="mb-3">	
						<img src="./img/cadastro.jpg" class="rounded" alt="">
					</figure>
					<p>
						Gostaria de anunciar seu serviço? A consequuntur, deserunt eaque
						error nulla temporibus!
					</p>
					<hr>
					<a href="/#!/usuario/cadastro" class="btn btn-lg btn-block btn-primary">Cadastre-se</a>
				</div>
			</div>
		</div>

		
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="page-header">
			<h1 class="page-title">
				Dados sobre nós
			</h1>
		</div>
		<div class="row row-cards">
			<div class="col-12 col-sm-4 col-lg-4">
				<div class="card">
					<div class="card-body p-3 text-center">
						<div class="h1 m-0">43</div>
						<div class="text-muted mb-4">Clientes Satisfeitos</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-4">
				<div class="card">
					<div class="card-body p-3 text-center">
						<div class="h1 m-0">17</div>
						<div class="text-muted mb-4">Projetos Entregues</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 col-lg-4">
				<div class="card">
					<div class="card-body p-3 text-center">
						<div class="h1 m-0">7</div>
						<div class="text-muted mb-4">Usuários Cadastrados</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
