/* ==========================================================================
   DEFAULT/GLOBAL STYLES
   ========================================================================== */
   body {
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
   }

   .link-servico{
     padding: 50px;
     text-align: center;
     font-size: 150px;
   }

   .testeClasse{
     background-color: red;
   }

  .cover-container {
    max-width: 42em;
  }

  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  // .cover{
  //    margin-top: 135px;
  // }

  .underline:hover {
    border-bottom-color: #333;
  }

  .align-center{
    text-align: center;
  }

  .has-error{
    .input{
      border-color: red !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }

  .tags{
    margin-top: 15px;
  }

  .tag-button{
    color: black !important;
    margin-right: 5px;
  }

  .home-banner {
    width: 100%;
    img {
      width: 100%;
    }
  }

.user-description {
  margin-top: 30px;
}

.user-tags {
  margin-top: 30px;
}

.check-login {
  transform: translateY(2px);
  display: inline-block;
}