<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <!-- <img src="./assets/brand/tabler.svg" class="h-6" alt=""> -->
                    </div>
                    <form name="loginform" novalidate class="card" ng-submit="submitLogin(login)">
                        <div class="card-body p-6">
                            <div class="card-title">Acesse sua conta</div>
                            <div class="form-group">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" id="usuario" name="usuario" aria-describedby="emailHelp"
                                    ng-model="login.usuario" ng-required="true" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Senha
                                </label>
                                <input type="password" class="form-control" id="senha" ng-model="login.senha"
                                    ng-required="true" placeholder="**********">
                            </div>
                            <div class="form-group">
                                <label class="">
                                    <input type="checkbox" class="check-login">
                                    <span class="">Lembre-me</span>
                                </label>
                            </div>
                            <div class="form-footer">
                                <button ng-disabled="!login.usuario || !login.senha" type="submit" class="btn btn-primary btn-block">Entrar</button>
                            </div>

                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Não tem uma conta ainda?
                        <a href="/#!/usuario/cadastro">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>