<section id="masterpage" class="masterpage" ng-class="{ 'opened': sidebarOpen, 'closed': !sidebarOpen }">
    <aprove-header></aprove-header>
    <sidebar></sidebar>
    <ui-view></ui-view>
</section>
